/*
=============== 
Google fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap');
/*
=============== 
Custom properties
===============
*/
:root {
   /* fonts */
    --body-font: 'Roboto', sans-serif;
    --primary-header-font: 'Lato', sans-serif;
    --secondary-header-font: 'Montserrat', sans-serif;

   /* colors */
    --off-white: #ffff;
    --dark-clr: #000000;
    --earth-clr: #663300;
    --green-clr: #58a65f;
    --accent-green: #67a153;
    --light-dark: #aaaaaa;

    /* essesntials */
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
}

/*
=============== 
Base resets
===============
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--off-white);
  background: var(--dark-clr);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
}

/* Controlling widths with a container class */
.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 50px;
}

/* Make elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who have turned them off */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--dark-clr);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.logo {
  width: 100px;
  margin: 10px 0;
}
/*
=============== 
nav header
===============
*/
.navbar {
  height: 4.375rem;
  /* background: lightpink; */
}

.nav-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn {
  padding: 0.15rem 0.75rem;
  background-color: transparent;
  border: 2px solid var(--dark-clr);
  transition: var(--transition);
}

/* Nav toggle hover */
.nav-btn:hover {
  border: 2px solid var(--accent-green);
}


.nav-btn i {
    font-size: 1.25rem;
    color: var(--dark-clr);
    transition: var(--transition);
}

/* Nav toggle hover */
.nav-btn i:hover {
  color: #58a65f;
}


.nav-links {
  display: flex;
  flex-direction: column;
  /* to do */
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 18.375rem;
}

.nav-link {
  display: block;
  text-align: center;
  border-bottom: 2px solid var(--dark-clr);
  padding-top: 20px;
  text-transform: capitalize;
  color: var(--dark-clr);
  padding: 1rem 0;
}

/* Hover effect on the nav links */
.nav-link:hover {
  color: #58a65f;
}

.contact-link .btn{
  width: 100%;
  padding: 0.5rem 2rem;
}

.contact-link .btn:hover {
  background-color: var(--accent-green);
}

/* Media queries for largrer screens */
@media screen and (min-width: 992px) {
  .nav-btn {
    display: none;
  }

  .navbar {
    height: 4.375rem;
  }

  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    height: auto;
    margin-right: 2rem;
  }

  .nav-links {
    height: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 7rem;
  }

  .nav-link {
    padding: 0 1rem;
    border-bottom: none;
    margin-right: 1rem;
    font-size: 1rem;
  }

  .contact-link {
    margin-left: auto;
    margin-right: 0;
  }
}

/*
=============== 
Sections & titles
===============
*/
.hero-title {
  font-family: var(--secondary-header-font);
  font-weight: 700;
  font-size: 30px;
}

.hero-title span {
  font-family: var(--primary-header-font);
  font-weight: 750;
  font-size: 35px;

}

#services,
#about,
#contact {
  height: 80vh;
}

.section {
  padding-bottom: 5rem;
}
/*
=============== 
hero section
===============
*/
#hero {
  min-height: calc(100vh - (4.375rem + 17.375rem));
  padding-top: 3rem;
}

#hero .container {
  background: url('../assets/hero.jpg') center/cover no-repeat;
  color: var(--off-white);
}

.hero-text {
  padding: 3rem 0;
}

article .text,
article .hero-btn {
  margin: 1.5rem 0;
}

article .text {
  margin-bottom: 0;
}

article .hero-btn {
  width: 100%;
  background: var(--accent-green);
  transition: var(--transition);
}

article .hero-btn:hover {
  background: var(--light-dark);
}

.stats {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.underline {
  height: 10vw;
  background-color: var(--dark-clr);
  width: 3px;
}

article .stat {
  text-transform: uppercase;
  font-family: var(--body-font);
}

.stat .stat-icon {
  display: inline;
  width: 30px;
}

#hero .hero-img img {
  display: none;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {
.hero-text {
  padding: 0;
}

  #hero .container {
    background: none;
    color: var(--dark-clr);
  }
  section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  section .hero-img {
    /* width: 35vw; */
    /* height: 100px; */
    margin-left: auto;
  }

  #hero .hero-img img {
    width: 300px;
    border-radius: var(--borderRadius);
    display: block;
  }

  section .hero-btn {
    display: block;
    width: 25vw;
  }

  section .stats {
    gap: 4rem;
  }

  section .underline {
    height: 7vw;
  }
}

