/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  /* fonts */
  --body-font: 'Roboto', sans-serif;
  --primary-header-font: 'Lato', sans-serif;
  --secondary-header-font: 'Montserrat', sans-serif;

  /* colors */
  --off-white: #ffff;
  --dark-clr: #000000;
  --earth-clr: #663300;
  --green-clr: #58a65f;
  --accent-green: #67a153;
  --light-dark: #aaaaaa;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --letterSpacing: 0.2rem;
  --transition: all 0.4s ease;
  --radius: 0.5rem;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  background: var(--light-dark);
  color: var(--off-white);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--primary-header-font);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--light-dark);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--dark-clr);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letterSpacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--dark-clr);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--off-white);
  background: var(--dark-clr);
}
.btn-white {
  color: var(--off-white);
  border-color: var(--off-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--off-white);
  color: var(--dark-clr);
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--off-white);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--off-white);
  box-shadow: var(--light-shadow);
  z-index: 2;
}
.fixed-nav .links a {
  color: var(--dark-clr);
}
.fixed-nav .links a:hover {
  color: var(--green-clr);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--dark-clr);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--green-clr);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--off-white);
  color: var(--dark-clr);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--green-clr);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
  /* background-color: #F4D03F; */
  /* background: linear-gradient(132deg, rgb(244, 208, 63) 0%, rgb(22, 160, 133) 100%), url(../assets/irrigation.jpg); */
  background: linear-gradient(rgba(22, 160, 133, 0.5), rgba(244, 208, 63, 0.3)),
    url(../assets/hero-lawn.jpg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  display: grid;
  /* place-items: center; */
  text-align: center;
  padding-top: 3.5rem;
  letter-spacing: var(--letterSpacing);
}
.container h1 {
  color: var(--off-white);
  text-transform: capitalize;
  font-size: 2rem;
  font-family: var(--primary-header-font);
}

.container h1 span {
  font-family: var(--secondary-header-font);
}
.container p {
  color: var(--off-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }

  .container h1 {
    font-size: 3rem;
  }
  .container h1 span {
    font-size: 3.5rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--accent-green);
}

#services {
  background: rgba(102, 51, 0, 0.4);
}

#services h2,
#products h2,
#about h2 {
  font-size: 1.5rem;
}

.serve {
  width: 350px;
}

.services-img {
  border: 3px solid var(--dark-clr);
  border-radius: var(--radius);
}

.services-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

/* blog */
#blog {
  background: var(--off-white);
  padding: 5rem 0; 
}
#blog .blog-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#blog .blog-card {
  /* height: 200px; */
  width: 270px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  background: rgba(0, 0, 0, 0.18);
  text-align: center;
  padding: 5px 10px;
  /* position: absolute; */

}

#blog .blog-img {
  position: relative;
  width: 50px;
  left: 100px;
  top: 20px;
  margin-bottom: 1rem;
}

#blog .blog-card h4 {
  padding-top: 20px;
}

#blog .blog-info {
  color: var(--off-white);
}

#about {
  /* padding: 5rem 0; */
}
#about .info {
  color: var(--off-white);
  text-align: start;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

#products {
  background-color: var(--off-white);
}

#products .products-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
}

#products h2 {
  color: var(--earth-clr);
  margin-bottom: 3rem;
}

#products img {
  border-radius: var(--radius);
  width: 300px;
  height: 250px;
}

#products .product-name {
  color: var(--light-dark);
  padding: 1rem 0;
  padding-bottom: 0;
}

#products .price {
  color: #58a65f;
}

footer {
  background: var(--accent-green);
  padding: 5rem 1rem;
}
footer p {
  color: var(--off-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--accent-green);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--off-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}